section {
    font-family: 'Poppins';
}

.pagina-detalhes {
    max-width: 1440px;
    display: inline-block;
    align-items:center;
    height: calc(100vh - 132px);
    padding: 40px 40px;
}

.pagina-detalhes .informacoes-de {
    color: #ffffff;
    width: 70%;
    font-size: 18px;
    margin: 200px 0;
    margin-left: 410px;
    margin-right: 400px;

}

.pagina-detalhes .button-crunchyroll {
    background-color: aqua;
    color: black;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
    margin: 0 300px;
}

.pagina-detalhes .button-crunchyroll a {
    color: black;
}

.pagina-detalhes .button-crunchyroll a:hover {
    transform: scale(1.02);
    text-decoration: none;
    color: rgb(184, 137, 9);
}

footer {
    background-color:rgba(0, 0, 0, 0.363);
    color: aqua;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: aqua;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(184, 137, 9);
}

